<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.magic.wogia.mapper.IBannerMapper">

	<resultMap type="BannerBean" id="BaseBanner">
	
		<result column="id" property="id" javaType="java.lang.Integer"/>
		<result column="image" property="image" javaType="java.lang.String"/>
		<result column="img_url" property="imgUrl" javaType="java.lang.String"/>
		<result column="createtime" property="createTime" javaType="java.util.Date"/>
		<result column="isInside" property="isInside" javaType="java.lang.Integer"/>
		<result column="newsId" property="newsId" javaType="java.lang.Integer"/>
		<association property="news" column="newsId" select="com.magic.wogia.mapper.INewsMapper.findById"></association>
	</resultMap>


	<insert id="addBanner">
		insert into t_banner (`image`,img_url,createtime,newsId,isInside) values(#{banner.image},#{banner.imgUrl},#{banner.createTime},#{banner.newsId},#{banner.isInside})
	</insert>

	<delete id="delBanner">
		delete from t_banner where id=#{id}
	</delete>
	
	<select id="countBanner" resultType="java.lang.Integer">
		select count(*) from t_banner 
	</select>
	
	<select id="findAll" resultMap="BaseBanner">
		select * from t_banner
	</select>
	
	<select id="findById" resultMap="BaseBanner">
		select * from t_banner where id=#{id}
	</select>
	
	<update id="updateBanner" >
		update t_banner 
			<set>
				<if test="banner.image != null">
					image=#{banner.image},
				</if>
				<if test="banner.imgUrl != null">
					img_url=#{banner.imgUrl}
				</if>
			</set>
		 where id=#{banner.id}
	</update>
	
	<delete id="delBannerByNewsId">
		delete from t_banner where newsId=#{newsId}
	</delete>
	
	<update id="updateBannerByNewsId">
		update t_banner set image=#{banner.image} where newsId=#{newsId}
	</update>

</mapper>