<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.magic.wogia.mapper.IOrderCompoentMapper">

	<resultMap type="OrderCompoentBean" id="BaseOC">
		<result column="id" property="id" javaType="java.lang.Integer"/>
		<result column="order_id" property="orderId" javaType="java.lang.Integer"/>
		<result column="component_id" property="componentId" javaType="java.lang.Integer"/>
		<result column="component_name" property="componentName" javaType="java.lang.String"/>
	</resultMap>
	

	<!-- 新增订单零件 -->
	<insert id="addOrderCompoent" parameterType="java.util.List">
		insert into t_order_compoent (order_id,component_id) values
		<foreach collection="comList" item="oc" index="index" separator=",">
			(#{oc.orderId},#{oc.componentId})
		</foreach>
	</insert>
	
	<select id="findByOrderId" resultMap="BaseOC">
		select co.* from t_component co, t_order_compoent oc ,t_component_device c where co.id=c.component_id and c.id= oc.component_id and oc.order_id=#{orderId}
	</select>

	<!-- 根据项目id删除 -->
 	<delete id="deleteByProjectId">
 		DELETE FROM `t_order_compoent` WHERE `order_id` IN
 		(SELECT o.`id` FROM `t_order` o WHERE o.`device_id` IN
 		(SELECT d.`id` FROM  `t_device` d WHERE d.`project_id` = #{projectId}))
 	</delete>
</mapper>